body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ddd;
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: white;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

nav {
    height: 5vb;
    font-weight: bold;
    background-color: #f0f0f0;
    text-align: center;
    margin: 10px 0;
}

nav a {
   
    margin: 0 15px;
    text-decoration: underline;
    color: purple;
}

.feature {
    display: flex;
    justify-content: center; /* Horizontally centers the text */
    align-items: flex-start; /* Aligns text to the top */
    background-color: #f0f0f0;
    text-align: center;
    height: 100px;
    padding-top: 10px; /* Adds spacing from the top */
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
}

.columns {
    font-weight: bold;
    height: 30vb;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.column {
    flex: 1;
    background-color: #f0f0f0;
    text-align: center;
    padding: 20px;
    margin-top: 10px;
    margin: 0 10px;
}

.column:first-child {
    margin-left: 0;
}

.column:last-child {
    margin-right: 0;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f0f0f0;
    font-size: 14px;
}
